<div id="bustime">
    <p class="dentist 24"><%= @dentist_bus24 %></p>
    <p class="dentist 720-3"><%= @dentist_bus720_3 %></p>
    <p class="gomsang 24"><%= @gomsang_bus24 %></p>
    <p class="gomsang 720-3"><%= @gomsang_bus720_3 %></p>
</div>
