<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>DKU Simple Bus</title>
    
        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="/css/stylish-portfolio.css" rel="stylesheet">
    
        <!-- 모바일 반응형 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script src="/js/bustime.js"></script>
    </head>
    <body onload="first()">
        <!-- 지도 -->
          <header class="masthead d-flex text-center">
            <div class="">
              <button class="btn btn-primary" onclick="choosePlace('#chidae')" type="button">
                    치대
                </button>
                <button class="btn btn-primary" onclick="choosePlace('#gomsang')"type="button">
                    곰상
                </button>
                <button class="btn btn-primary" onclick="choosePlace('#inmun')"type="button">
                    인문관
                </button>
                <button class="btn btn-primary" onclick="choosePlace('#jungmun')"type="button">
                    정문
                </button>
                <a href="/home/shuttle"><button class="btn btn-primary" type="button">셔틀시간표</button></a>
            </div>
            <!-- <div class="overlay"></div> -->
          </header>
        
            <!-- 버스정보 -->
            <section class="content-section bg-primary text-white text-center" id="listDiv">
        
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    
        <!-- Custom scripts for this template -->
        <script src="/js/stylish-portfolio.min.js"></script>
    </body>
</html>