<!DOCTYPE html>
<html>
    <head>
        <script>
            function printBus(){
                $.ajax({
                    url : "/home/bus",
                    success : function(result) {
                        console.log(1);
                        $('body').load('/home/bus #bustime');
                    }
                });
                setTimeout("printBus()",10000); // 1000=1초
            }
        </script>
    </head>
    <body onload="printBus()">
    </body>
</html>