<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>DKU Simple Bus</title>
    
        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="/css/stylish-portfolio.css" rel="stylesheet">
    
        <!-- 모바일 반응형 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script>
            // function printBus(){
            //     $.ajax({

            //         url : "/home/bus",
            //         dataType: 'html',
            //         success : function(result) {
            //             console.log(1);
            //             $("#time").html(result);
            //         }
            //     });
            //     setTimeout("printBus()",10000); // 1000=1초
            // }
            var all;
            function printBus(){ 
                    $.ajax({ 
                        type: 'get',
                        async: false,
                        url: '/home/bus', 
                        dataType : 'html',
                        success: function(data){
                            all = data;
                            console.log('가져옴');
                        }
                        });
                    setTimeout('printBus()', 10000);
                }
            function first(){
                $.ajax({ 
                        type: 'get',
                        async: false,
                        url: '/home/bus', 
                        dataType : 'html',
                        success: function(data){
                            all = data;
                            console.log('가져옴');
                            var e = $(data).find('#chidae');	
                            $("#listDiv").html(e);
                        }
                        });
                    printBus();
            }
            function choosePlace(place){
                    var e = $(all).find(place);	
                    $("#listDiv").html(e);
            }
        </script>
    </head>
    <body onload="first()">
        <!-- 지도 -->
          <header class="masthead d-flex text-center">
            <div class="">
              <button class="btn btn-primary" onclick="choosePlace('#chidae')" type="button">
                    치대
                </button>
                <button class="btn btn-primary" onclick="choosePlace('#gomsang')"type="button">
                    곰상
                </button>
                <button class="btn btn-primary" onclick="choosePlace('#inmun')"type="button">
                    인문관
                </button>
                <a href="/home/shuttle"><button class="btn btn-primary" type="button">셔틀시간표</button></a>
            </div>
            <!-- <div class="overlay"></div> -->
          </header>
        
            <!-- 버스정보 -->
            <section class="content-section bg-primary text-white text-center" id="listDiv">
                <!--<div class="content-section-heading">-->
                <!--  <h3 class="text-secondary mb-0">버스정보</h3>-->
                <!--  <h2 class="mb-5">정류장 이름</h2>-->
                <!--</div>-->
                <!--<div class=" mobile-bus">-->
        
                <!--  <div class="col-lg-4 col-md-4 clo-sm-4 col-4">-->
                <!--    <span class="service-icon rounded-circle mx-auto mb-3 bus24">-->
                <!--      <i class="fas fa-bus"></i>-->
                <!--    </span>-->
                <!--    <h5>-->
                <!--      <strong>24번</strong>-->
                <!--    </h5>-->
                <!--    <h3 class="text-faded mb-0">-->
                <!--      <i class="far fa-clock"></i>-->
                <!--      3분</h3>-->
                <!--  </div>-->
        
                <!--  <div class="col-lg-4 col-md-4 clo-sm-4 col-4">-->
                <!--    <span class="service-icon rounded-circle mx-auto mb-3 bus720">-->
                <!--      <i class="fas fa-bus"></i>-->
                <!--    </span>-->
                <!--    <h5>-->
                <!--      <strong>720-3번</strong>-->
                <!--    </h5>-->
                <!--    <h3 class="text-faded mb-0">-->
                <!--      <i class="far fa-clock"></i>-->
                <!--      5분</h3>-->
                <!--  </div>-->
        
                <!--  <div class="col-lg-4 col-md-4 clo-sm-4 col-4">-->
                <!--    <span class="service-icon rounded-circle mx-auto mb-3 busShuttle">-->
                <!--      <i class="fas fa-bus"></i>-->
                <!--    </span>-->
                <!--    <h5>-->
                <!--      <strong>셔틀</strong>-->
                <!--    </h5>-->
                <!--    <h3 class="text-faded mb-0">-->
                <!--      <i class="far fa-clock"></i>-->
                <!--      7분</h3>-->
                <!--  </div>-->
                <!--</div>-->
            </section>
        
        
        <!--<button class="btn btn-primary" onclick="choosePlace('#chidae')" type="button">-->
        <!--    치대-->
        <!--</button>-->
        <!--<button class="btn btn-primary" onclick="choosePlace('#gomsang')"type="button">-->
        <!--    곰상-->
        <!--</button>-->
        <!--<button class="btn btn-primary" onclick="choosePlace('#inmun')"type="button">-->
        <!--    인문관-->
        <!--</button>-->
        <!--<a href="/home/shuttle"><button class="btn btn-primary" type="button">셔틀시간표</button></a>-->
        
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    
        <!-- Custom scripts for this template -->
        <script src="/js/stylish-portfolio.min.js"></script>
    </body>
</html>